.about_us
    .breadcrumb_container
        padding-bottom: 54px
        .breadcrumb
            padding-bottom: 5.5px
            border-bottom: 1px solid #5E5E5E
            align-items: center
            .breadcrumb_item_link
                color: #ECF0E6
                text-decoration: none
                font-size: 14px
                line-height: 16.98px
                +g-r
            .breadcrumb-item.active
                color: #E6A250
                font-size: 14px
                line-height: 17.15px
                margin-top: 3px
                +g-sb
            .breadcrumb-item.active::before
                content: url('../img/breadcrumb.svg')
    .about_us_container
        .about_us_title
            display: grid
            grid-template-columns: repeat(12, 1fr)
            .title
                grid-column-start: 1
                grid-column-end: 5
                h4
                    color: #F4A442
                    font-size: 65px
                    line-height: 67px
                    +g-b
            .content
                grid-column-start: 8
                grid-column-end: 12
                p
                    font-size: 18px
                    color: #ECF0E6
                    line-height: 35px
                    +g-r
        .video
            img
                width: 100%
                border-radius: 5px
        .bcp_team_container
            padding: 20px 0 0 0
            display: grid
            grid-template-columns: repeat(12, 1fr)
            padding-bottom: 71px
            border-bottom: #757575 1px solid
            .team_name
                p
                    font-size: 14px
                    line-height: 16px
                    padding-bottom: 6px
                    +g-r
                    &:first-child
                        color: #FFFFFF
                    &:last-child
                        color: #E6A250
            .content2
                grid-column-start: 6
                grid-column-end: 13
                p
                    font-size: 18px
                    color: #ECF0E6
                    line-height: 35px
                    +g-r
        .showreel
            padding-top: 56px
            display: flex
            grid-gap: 27px
            img
                height: max-content
                border-radius: 5px
            .showreel_title
                display: flex
                grid-gap: 47px
                align-items: center
                .content
                    display: flex
                    flex-direction: column
                    color: #F4A442
                    span
                        font-size: 65px
                        line-height: 67px
                        +g-b
                    .for
                        text-align: end
                        margin-right: 75px
