.footer {
  padding: 30px;
}

.footer .footer_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer .footer_top .menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
}

.footer .footer_top .menu .link_footer {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}

.footer .footer_bottom {
  margin-top: 11px;
  display: flex;
  justify-content: flex-end;
}

.footer .footer_bottom .logo {
  display: none;
  width: 100%;
}

.footer .footer_bottom .all_reserved {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 20px;
}
