.portofolio_main
    .breadcrumb_container
        padding-bottom: 54px
        .breadcrumb
            padding-bottom: 5.5px
            border-bottom: 1px solid #5E5E5E
            align-items: center
            .breadcrumb_item_link
                color: #ECF0E6
                text-decoration: none
                font-size: 14px
                line-height: 16.98px
                +g-r
            .breadcrumb-item.active
                color: #E6A250
                font-size: 14px
                line-height: 17.15px
                margin-top: 3px
                +g-sb
            .breadcrumb-item.active::before
                content: url('../img/breadcrumb.svg')

    .portfolio_container
        .title_container
            display: flex
            justify-content: space-between
            align-items: center
            h1
                color: #E6A250
                +g-b
                font-size: 65px
                line-height: 67px
                margin-bottom: 25px
            .filter_icon
                display: none
                flex-direction: column
                grid-gap: 4px
                cursor: pointer
                span
                    +g-r
                    font-size: 15px
                    line-height: 12px
                    color: #808080
        .tabs
            .button_container
                border-top: #808080 1px solid
                .swiper-wrapper
                    display: flex
                    grid-gap: 12px
                    .swiper-slide
                        width: max-content
                        .btn
                            color: #808080
                            +g-sb
                            font-size: 16px
                            line-height: 19.6px
                            border: none
                            position: relative
                            &::after
                                transform: scaleX(0)
                                content: ''
                                width: 100%
                                left: 0
                                height: 3px
                                background-color: #1BB1A1
                                position: absolute
                                top: -1px
                                transition: transform 300ms ease-in-out
                                transform-origin: top right
                            &:hover
                                &::after
                                    transform-origin: top left
                                    transform: scaleX(1)
                            &:hover
                                border: none
                            &.active
                                color: #1BB1A1
                                border: none
                                border-radius: 0px
                                &::after
                                    transform-origin: top right
                                    transform: scaleX(1)
                            &:focus
                                box-shadow: none
            .allourwork
                .work_title
                    +g-b
                    font-size: 30px
                    color: #ECF0E6
                    height: auto
                    line-height: 37.14px
                    sup
                        +g-sb
                        font-size: 12px
                        line-height: 14.7px
                        margin-bottom: 30px
                        color: #E6A250
                .workItems
                    display: flex
                    flex-direction: column
                    grid-gap: 33px
                    margin-top: 60px
                    .workItem
                        display: flex
                        justify-content: space-between
                        .name_portfolio
                            text-decoration: none
                            display: flex
                            align-items: center
                            height: max-content
                            align-self: center
                            div
                                width: max-content
                                height: 50px
                                display: flex
                                grid-gap: 10px
                                position: relative
                                &::before
                                    content: url(../img/name_portfolio.svg)
                                    position: absolute
                                    z-index: 0
                                    left: 25px
                                span
                                    +g-r
                                    font-size: 14px
                                    color: #ECF0E6
                                    line-height: 16.98px
                                    z-index: 1
                                    letter-spacing: 1px
                                    &:last-child
                                        display: flex
                                        align-items: flex-end
                        .image
                            text-decoration: none
                            div
                                img
                                    width: 100%
                                    height: 100%
                                    border-radius: 5px
                                    object-fit: cover
                        .content
                            max-width: 343px
                            .title
                                color: #E6A250
                                +g-b
                                font-size: 45px
                                line-height: 45px
                            p
                                +g-r
                                font-size: 16px
                                line-height: 22px
                                color: #468680
                                width: 100%
                                margin-bottom: 34px
                            .link_more_port
                                text-decoration: none
                                +g-r
                                font-size: 14px
                                line-height: 16.98px
                                color: #ECF0E6
                                display: flex
                                grid-gap: 11px
        .button_div
            display: flex
            justify-content: center
            margin-top: 35px
            .load_more
                background: none
                border: #F4A442 1px solid
                color: #F4A442
                font-size: 14px
                line-height: 14px
                +g-r
                border-radius: 40px
                height: 40px
                width: 183px
            .none
                display: none
.filter_mobile
    // display: none
    position: fixed
    width: 100%
    height: 100%
    opacity: 1
    visibility: hidden
    transition: opacity .10s, visibility .10s, width .10s
    top: 0
    left: 0
    z-index: 250
    &::before
        content: ''
        right: -105%
        top: 0
        width: 100%
        height: 100%
        position: absolute
        transition: right .30s ease
        background-image: url('../img/filter_mobile.png')
        background-repeat: no-repeat
        background-size: cover
        z-index: -1
    &.active
        visibility: visible
        height: 100%
        &::before
            right: 0
    .close
        width: max-content
        height: max-content
        display: flex
        flex-direction: column
        grid-gap: 10px
        position: absolute
        right: 9px
        top: 20px
        cursor: pointer
        z-index: 2
        span
            background-color: #ECF0E6
            width: 30px
            height: 4px
            margin: 4px
            border-radius: 2px
            &:nth-child(1)
                transform: rotate(45deg) translateY(15px)
            &:nth-child(2)
                transform: rotate(-45deg) translateY(-16px)
    .filter_button_mobile
        position: relative
        z-index: 2
        display: flex
        flex-direction: column
        grid-gap: 28px
        align-items: center
        justify-content: center
        text-align: center
        top: 50%
        transform: translateY(-50%)
        .btn
            color: #808080
            +g-sb
            font-size: 22px
            line-height: 26.95px
            border: none
            position: relative
            &::after
                transform: scaleX(0)
                content: ''
                width: 100%
                left: 0
                height: 3px
                background-color: #1BB1A1
                position: absolute
                bottom: -1px
                transition: transform 300ms ease-in-out
                transform-origin: top right
            &:hover
                &::after
                    transform-origin: top left
                    transform: scaleX(1)
            &:hover
                border: none
            &.active
                color: #1BB1A1
                border: none
                border-bottom: #1BB1A1 3px solid
                border-radius: 0px
            &:focus
                box-shadow: none
