@media (max-width: 1400px) {
  .sectionn .portofolio_main .portfolio_container .title_container h1 {
    font-size: 59px;
    line-height: 61px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content .title {
    font-size: 37px;
    line-height: 37px;
  }
  .sectionn .footer_input .fill_form {
    font-size: 40px;
    line-height: 40px;
    width: 300px;
  }
  .sectionn .footer_input .we_call_back span {
    font-size: 60px;
  }
  .sectionn .about_us .about_us_container .about_us_title .title h4 {
    font-size: 58px;
    line-height: 58px;
  }
  .sectionn .about_us .about_us_container .bcp_team_container .team_name {
    grid-column-start: 1;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .ourServices_inner_title p {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (max-width: 1200px) {
  .sectionn .portofolio_main .portfolio_container .title_container h1 {
    font-size: 53px;
    line-height: 56px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .work_title {
    font-size: 28px;
    line-height: 34px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem {
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px 20px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .name_portfolio {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content .title {
    font-size: 35px;
    line-height: 35px;
  }
  .sectionn .footer_input {
    flex-direction: column;
    grid-gap: 50px;
  }
  .sectionn .footer_input .right_side form .right_top {
    justify-content: space-between;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .title {
    font-size: 51px !important;
    line-height: 51px !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .grid_content .content_item {
    grid-column-start: 5 !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .branding .about_branding {
    grid-column-start: 6 !important;
  }
  .sectionn .about_us .about_us_container .about_us_title .title h4 {
    font-size: 52px;
    line-height: 52px;
  }
  .sectionn .about_us .about_us_container .about_us_title .content {
    grid-column-start: 7;
  }
  .sectionn .about_us .about_us_container .showreel .showreel_title .content span {
    font-size: 47px;
    line-height: 47px;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .about_company {
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 12px;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .about_company .content {
    grid-row-end: 3;
    grid-row-end: 4;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .about_company .microphone {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .about_company .microphone img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .sectionn .portofolio_main .portfolio_container .title_container h1 {
    font-size: 47px;
    line-height: 50px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .work_title {
    font-size: 26px;
    line-height: 31px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem {
    grid-template-columns: auto;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .image {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .image img {
    width: 100%;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content .title {
    font-size: 32px;
    line-height: 32px;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .title {
    font-size: 51px !important;
    line-height: 51px !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .grid_content .content_item {
    grid-column-start: 5 !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .branding .about_branding {
    grid-column-start: 6 !important;
  }
  .sectionn .about_us .about_us_container .about_us_title .title h4 {
    font-size: 46px;
    line-height: 46px;
  }
  .sectionn .about_us .about_us_container .about_us_title .content {
    grid-column-start: 6;
    grid-column-end: 13;
  }
  .sectionn .about_us .about_us_container .bcp_team_container {
    display: flex;
    flex-direction: column;
    grid-gap: 35px;
  }
  .sectionn .about_us .about_us_container .bcp_team_container .team_name {
    display: flex;
    justify-content: space-between;
  }
  .sectionn .about_us .about_us_container .showreel {
    flex-direction: column;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .ourServices_inner_title p {
    font-size: 50px;
    line-height: 50px;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .ourServices_inner_content p {
    grid-column-start: 1;
  }
  .sectionn .homeServices .services .services_item {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 115px;
  }
}

@media (max-width: 768px) {
  .sectionn .portofolio_main .portfolio_container .title_container h1 {
    font-size: 41px;
    line-height: 44px;
  }
  .sectionn .portofolio_main .portfolio_container .title_container .filter_icon {
    display: flex;
  }
  .sectionn .portofolio_main .portfolio_container div .button_container {
    display: none;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork y.work_title {
    font-size: 24px;
    line-height: 28px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem {
    grid-template-columns: 1fr;
    grid-gap: 30px 0px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .image {
    grid-column: 1 / 3;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .image img {
    width: 100%;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content .title {
    font-size: 30px;
    line-height: 30px;
  }
  .sectionn .footer_input .left_side .fill_form {
    font-size: 35px;
    line-height: 35px;
  }
  .sectionn .footer_input .left_side .we_call_back span {
    font-size: 55px;
  }
  .sectionn .footer_input .left_side .phone_number_container {
    padding-left: 0;
  }
  .sectionn .footer_input .left_side .phone_number_container .phone_number span {
    font-size: 25px;
    line-height: 25px;
  }
  .sectionn .footer_input .right_side form {
    width: 100%;
  }
  .sectionn .footer_input .right_side form .right_top {
    flex-direction: column;
  }
  .sectionn .footer_input .right_side form .right_top input {
    width: 100%;
  }
  .sectionn .footer .footer_top {
    display: block;
  }
  .sectionn .footer .footer_top .logo {
    display: none;
  }
  .sectionn .footer .footer_bottom {
    justify-content: space-between;
    align-items: center;
  }
  .sectionn .footer .footer_bottom .logo {
    display: block;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .title {
    font-size: 44px !important;
    line-height: 44px !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .grid_content .content_item {
    grid-column-start: 4 !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .branding .about_branding {
    grid-column-start: 4 !important;
  }
  .sectionn .about_us .about_us_container .about_us_title {
    display: flex;
    flex-direction: column;
  }
  .sectionn .about_us .about_us_container .about_us_title .title h4 {
    font-size: 40px;
    line-height: 40px;
  }
  .sectionn .about_us .about_us_container .about_us_title .content p {
    font-size: 16px;
    line-height: 30px;
  }
  .sectionn .about_us .about_us_container .bcpTeam .content2 p {
    font-size: 16px;
    line-height: 30px;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .ourServices_inner_title p {
    font-size: 45px;
    line-height: 45px;
    grid-column-end: 4;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .ourServices_inner_content p {
    font-size: 16px;
    line-height: 30px;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .content_bottom p {
    font-size: 16px;
    line-height: 30px;
    grid-column-start: 1;
  }
  .sectionn .homeServices .services .services_item {
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionn .homeServices .services .services_item .services_inner {
    justify-content: center;
    align-items: center;
  }
  .sectionn .header .langLogoBar .language_side {
    display: none;
  }
}

@media (max-width: 576px) {
  .sectionn .portofolio_main .portfolio_container .title_container h1 {
    font-size: 35px;
    line-height: 38px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .work_title {
    font-size: 22px;
    line-height: 24px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem {
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .name_portfolio {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content {
    grid-row-start: 2;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content .title {
    font-size: 27px;
    line-height: 27px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content p {
    display: none;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content .link_more_port {
    display: none;
  }
  .sectionn .footer_input .left_side .fill_form {
    font-size: 30px;
    line-height: 30px;
  }
  .sectionn .footer_input .left_side .we_call_back span {
    font-size: 50px;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .title {
    font-size: 37px !important;
    line-height: 37px !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .grid_content .content_item {
    align-items: flex-start !important;
    grid-column-start: 2 !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .branding .about_branding {
    grid-column-start: 3 !important;
  }
  .sectionn .about_us .about_us_container .about_us_title .title h4 {
    font-size: 35px;
    line-height: 35px;
  }
  .sectionn .about_us .about_us_container .showreel .showreel_title .content span {
    font-size: 40px;
    line-height: 40px;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .ourServices_inner_title p {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 400px) {
  .sectionn .portofolio_main .portfolio_container .title_container h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .work_title {
    font-size: 20px;
    line-height: 20px;
  }
  .sectionn .portofolio_main .portfolio_container div .allourwork .workItems .workItem .content .title {
    font-size: 25px;
    line-height: 25px;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .title {
    font-size: 30px !important;
    line-height: 30px !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .grid_content .content_item {
    grid-column-start: 1 !important;
    grid-gap: 51px !important;
  }
  .sectionn .ricon_constraction .ricon_constraction_contain .branding .about_branding {
    grid-column-start: 2 !important;
  }
  .sectionn .about_us .about_us_container .about_us_title .title h4 {
    font-size: 30px;
    line-height: 30px;
  }
  .sectionn .ourServices_inner .ourServices_inner_container .ourServices_inner_title p {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 320px) {
  .sectionn .footer_input .social_icon {
    padding: 23px 0 0 24px;
  }
}
