@media (max-width:1400px)
    .sectionn
        .portofolio_main
            .portfolio_container
                .title_container
                    h1
                        font-size: 59px
                        line-height: 61px
                div
                    .allourwork
                        .workItems
                            .workItem
                                grid-gap: 50px
                                .content
                                    .title
                                        font-size: 37px
                                        line-height: 37px
        .footer_input
            .fill_form
                font-size: 40px
                line-height: 40px
                width: 300px
            .we_call_back
                span
                    font-size: 60px
        .about_us
            .about_us_container
                .about_us_title
                    .title
                        h4
                            font-size: 58px
                            line-height: 58px
                .bcp_team_container
                    .team_name
                        grid-column-start: 1
        .ourServices_inner
            .ourServices_inner_container
                .ourServices_inner_title
                    p
                        font-size: 60px
                        line-height: 60px

@media (max-width:1200px)
    .sectionn
        .header
            .links
                .linkContainer
                    .services_side
                        .link2
                            grid-gap: 20px 41px
        .home
            .info
                .title_brain_container
                    .title
                        h1
                            font-size: 50px
                            line-height: 50px
                    .brain
                        .brainImg
                            width: 676px
                        .socialLinks
                            display: none
            .homePortfolio
                .slider
                    .right
                        .num_container
                            .num
                                transform: translateX(43px)
        .homeServices
            .services
                grid-template-columns: repeat(2, auto)
        .portofolio_main
            .portfolio_container
                .title_container
                    h1
                        font-size: 53px
                        line-height: 56px
                div
                    .allourwork
                        .work_title
                            font-size: 28px
                            line-height: 34px
                        .workItems
                            .workItem
                                grid-template-columns: repeat(2,auto)
                                grid-gap: 30px 20px
                                .name_portfolio
                                    grid-column-start: 1
                                    grid-column-end: 3
                                .content
                                    .title
                                        font-size: 35px
                                        line-height: 35px
        .footer_input
            flex-direction: column
            grid-gap: 50px
            .right_side
                form
                    .right_top
                        justify-content: space-between
        .ricon_constraction
            .ricon_constraction_contain
                .title
                    font-size: 51px !important
                    line-height: 51px !important
                .grid_content
                    .content_item
                        grid-column-start: 5 !important
                .branding
                    .about_branding
                        grid-column-start: 6 !important
        .about_us
            .about_us_container
                .about_us_title
                    .title
                        h4
                            font-size: 52px
                            line-height: 52px
                    .content
                        grid-column-start: 7
                .showreel
                    .showreel_title
                        .content
                            span
                                font-size: 47px
                                line-height: 47px
        .ourServices_inner
            .ourServices_inner_container
                .about_company
                    grid-template-rows: repeat(1, 1fr)
                    grid-gap: 12px
                    .content
                        grid-row-end: 3
                        grid-row-end: 4
                    .microphone
                        grid-row-start: 1
                        grid-row-end: 2
                        img
                            width: 100%

@media (max-width:992px)
    .sectionn
        .header
            .links
                padding: 38px 0px
                .linkContainer
                    grid-gap: 0
                    .linkMenu
                        padding-right: 20px
                    .services_side
                        .link2
                            grid-gap: 20px 20px
                            li
                                width: 50%
                                a
                                    width: 50%
        .info
            .title_brain_container
                flex-direction: column
        .homeProjects
            .title
                justify-content: space-between
                h2
                    font-size: 40px
                    line-height: 40px
            .projects
                flex-direction: column-reverse
                .info
                    padding: 18px 0
                    .header
                        width: 100%
                        font-size: 60px
                        line-height: 60px
                .image
                    position: relative
                    .swiper
                        width: 100%
                        height: 410px
        .portofolio_main
            .portfolio_container
                div
                    .allourwork
                        .workItems
                            .workItem
                                display: grid
                                grid-template-columns: auto
@media (max-width: 991px)
    .sectionn
        .home
            .homePortfolio
                .title
                    justify-content: space-between
                    h2
                        font-size: 50px
                        line-height: 50px
                .slider
                    .right
                        grid-gap: 20px
                        .num_container
                            .num
                                transform: translateX(0px)
        .homeServices
            .title
                justify-content: space-between
                h2
                    font-size: 50px
                    line-height: 50px
            .services
                grid-template-columns: repeat(2, auto)
        .portofolio_main
            .portfolio_container
                .title_container
                    h1
                        font-size: 47px
                        line-height: 50px

                div
                    .allourwork
                        .work_title
                            font-size: 26px
                            line-height: 31px
                        .workItems
                            .workItem
                                .name_portfolio
                                    grid-row-start: 2
                                    grid-column-start: 2
                                .image
                                    grid-column-start: 1
                                    grid-column-end: 3
                                    img
                                        max-width: none
                                        width: 100%
                                .content
                                    grid-row-start: 2
                                    grid-column-start: 1
                                    grid-column-end: 3
                                    .title
                                        font-size: 32px
                                        line-height: 32px
                                    p
                                        display: none
                                    .link_more_port
                                        display: none
        .ricon_constraction
            .ricon_constraction_contain
                .title
                    font-size: 51px !important
                    line-height: 51px !important
                .grid_content
                    .content_item
                        grid-column-start: 5 !important
                .branding
                    .about_branding
                        grid-column-start: 6 !important
        .about_us
            .about_us_container
                .about_us_title
                    .title
                        h4
                            font-size: 46px
                            line-height: 46px
                    .content
                        grid-column-start: 6
                        grid-column-end: 13
                .bcp_team_container
                    display: flex
                    flex-direction: column
                    grid-gap: 35px
                    .team_name
                        display: flex
                        justify-content: space-between
                .showreel
                    flex-direction: column
        .ourServices_inner
            .ourServices_inner_container
                .ourServices_inner_title
                    p
                        font-size: 50px
                        line-height: 50px
                .ourServices_inner_content
                    p
                        grid-column-start: 1

@media (max-width: 768px)
    .sectionn
        .home
            .info
                .title_brain_container
                    .brain
                        .brainImg
                            width: 100%
                            height: max-content
                            img
                                height: max-content
                        .dot_brain
                            display: none

        .homeServices
            .title
                justify-content: space-between
                h2
                    font-size: 40px
                    line-height: 40px
                a
                    font-size: 13px
                    line-height: 13px
            .services
                grid-gap: 40px 9px
        .portofolio_main
            .portfolio_container
                .title_container
                    align-items: start
                    h1
                        font-size: 41px
                        line-height: 44px
                    .filter_icon
                        display: flex
                div
                    .button_container
                        display: none
                    .allourwork
                        .work_title
                            font-size: 24px
                            line-height: 28px
                        .workItems
                            .workItem
                                grid-template-columns: 1fr
                                grid-gap: 30px 0px
                                .image
                                    grid-column: 1 / 3
                                    img
                                        width: 100%
                                .content
                                    grid-column-start: 1
                                    grid-column-end: 3
                                    .title
                                        font-size: 30px
                                        line-height: 30px
        .footer_input
            .left_side
                .fill_form
                    font-size: 35px
                    line-height: 35px
                .we_call_back
                    span
                        font-size: 55px
                .phone_number_container
                    padding-left: 0
                    .phone_number
                        span
                            font-size: 25px
                            line-height: 25px
            .right_side
                form
                    width: 100%
                    .right_top
                        flex-direction: column
                        input
                            width: 100%
        .footer
            .footer_top
                display: block
                div
                    .logo
                        display: none
                .menu
                    grid-gap: 22px 60px
            .footer_bottom
                justify-content: space-between
                align-items: center
                .logo
                    display: block
        .ricon_constraction
            .ricon_constraction_contain
                .title
                    font-size: 44px !important
                    line-height: 44px !important
                .grid_content
                    .content_item
                        grid-column-start: 4 !important
                .branding
                    .about_branding
                        grid-column-start: 4 !important
        .about_us
            .breadcrumb_container
                padding-bottom: 27px
            .about_us_container
                .about_us_title
                    display: flex
                    flex-direction: column
                    .title
                        h4
                            font-size: 40px
                            line-height: 40px
                    .content
                        p
                            font-size: 16px
                            line-height: 30px
                .bcp_team_container
                    padding-bottom: 40px
                    .content2
                        p
                            font-size: 16px
                            line-height: 30px

                .showreel
                    padding-top: 28px
        .ourServices_inner
            .ourServices_inner_container
                .ourServices_inner_title
                    p
                        font-size: 45px
                        line-height: 45px
                        grid-column-end: 4
                .ourServices_inner_content
                    p
                        font-size: 16px
                        line-height: 30px
                .content_bottom
                    p
                        font-size: 16px
                        line-height: 30px
                        grid-column-start: 1
        .homeServices
            .services
                .services_item
                    grid-template-columns: repeat(1, 1fr)
                    .services_inner
                        justify-content: center
                        align-items: center
        .header
            .langLogoBar
                .language_side
                    display: none
        .homeProjects
            .projects
                .info
                    .header
                        width: 100%
                        font-size: 50px
                        line-height: 50px
@media (max-width: 576px)
    .sectionn
        .home
            .info
                .title_brain_container
                    .title
                        h1
                            font-size: 40px
                            line-height: 40px
            .homePortfolio
                .title
                    justify-content: space-between
                    h2
                        font-size: 35px
                        line-height: 35px
            .homeProjects
                .projects
                    .info
                        .header
                            width: 100%
                            font-size: 40px
                            line-height: 40px
        .homeServices
            .title
                h2
                    font-size: 30px
                    line-height: 30px
            .services
                grid-template-columns: repeat(1, auto)
                .services_inner
                    justify-content: center
                    transform: translateX(10px)
            .homeProjects
                .title
                    h2
                        font-size: 30px
                        line-height: 30px
                .projects
                    .info
                        .header
                            font-size: 35px
                            line-height: 35px

                    .image
                        .swiper
                            height: 279.32px
        .portofolio_main
            .portfolio_container
                .title_container
                    h1
                        font-size: 35px
                        line-height: 38px
                div
                    .allourwork
                        .work_title
                            font-size: 22px
                            line-height: 24px
                        .workItems
                            .workItem
                                align-items: center
                                grid-template-columns: 1fr 1fr
                                .name_portfolio
                                    grid-row-start: 2
                                    grid-column-start: 2
                                .content
                                    grid-row-start: 2
                                    .title
                                        font-size: 27px
                                        line-height: 27px
                                    p
                                        display: none
                                    .link_more_port
                                        display: none
        .footer_input
            .left_side
                .fill_form
                    font-size: 30px
                    line-height: 30px
                    width: 100%
                .we_call_back
                    span
                        padding: 0
                        font-size: 50px
        .ricon_constraction
            .ricon_constraction_contain
                .title
                    font-size: 37px !important
                    line-height: 37px !important
                .grid_content
                    .content_item
                        align-items: flex-start !important
                        grid-column-start: 2 !important
                .branding
                    .about_branding
                        grid-column-start: 3 !important
        .about_us
            .about_us_container
                .about_us_title
                    .title
                        h4
                            font-size: 35px
                            line-height: 35px
                .showreel
                    .showreel_title
                        .content
                            span
                                font-size: 40px
                                line-height: 40px
        .ourServices_inner
            .ourServices_inner_container
                .ourServices_inner_title
                    p
                        font-size: 40px
                        line-height: 40px

@media (max-width: 400px)
    .sectionn
        .portofolio_main
            .portfolio_container
                .title_container
                    h1
                        font-size: 30px
                        line-height: 30px
                div
                    .allourwork
                        .work_title
                            font-size: 20px
                            line-height: 20px
                        .workItems
                            .workItem
                                .content
                                    .title
                                        font-size: 25px
                                        line-height: 25px
        .ricon_constraction
            .ricon_constraction_contain
                .title
                    font-size: 30px !important
                    line-height: 30px !important
                .grid_content
                    .content_item
                        grid-column-start: 1 !important
                        grid-gap: 51px !important
                .branding
                    .about_branding
                        grid-column-start: 2 !important
        .about_us
            .about_us_container
                .about_us_title
                    .title
                        h4
                            font-size: 30px
                            line-height: 30px
        .ourServices_inner
            .ourServices_inner_container
                .ourServices_inner_title
                    p
                        font-size: 30px
                        line-height: 30px
        .footer_input
            .social_icon
                padding: 23px 0 0 24px
            .right_side
                form
                    .button_send
                        .briefDownload
                            grid-gap: 0
        .homeProjects
            .projects
                .info
                    .header
                        width: 100%
                        font-size: 35px
                        line-height: 35px
        .homeServices
            .services
                .services_inner
                    transform: translateX(25px)
                    a
                        width: 239px
@media (max-width: 400px)
    .sectionn
        .footer
            .footer_top
                .menu
                    grid-gap: 22px 50px
