@import '_vars'
@import '_font'
@import '_portfolio'
@import '_footerInput'
@import '_footer'
@import '_responsive'

.section
    background: url('../img/background_img.png')
    width: 100%
    background-repeat: no-repeat
    background-size: cover
