@import '_vars'
@import '_font'
@import '_portfolio'
@import '_footerContact'
@import '_footer'
@import '_riconconstraction'
@import '_aboutUs'
@import '_ourServices'
@import '_ourservices_inner'
@import '_responsive'

.sectionn
    width: 100%
    background-repeat: no-repeat
    background-size: cover
