@import "./_mixin.sass"
*
    padding: 0
    margin: 0
    box-sizing: border-box

.homeProjects
    margin-bottom: 20px

    .title
        display: flex
        align-items: center
        margin-bottom: 40px
        transform: translateX(-20px)

        h2
            font-family: Arial, Helvetica, sans-serif
            font-style: normal
            font-weight: 700
            font-size: 55px
            color: #F4A442
            margin-right: 30px
        a
            font-size: 16px
            color: #9B9B9B
            text-decoration: none

    .projects
        display: flex
        margin: 0
        padding: 0
        transform: translateX(-27px)
        .info
            display: flex
            transform: translateY(90px)
            z-index: 1
            @include flexColumn
            transform: translateY(70px)
            .header
                width: 700px
                color: white
                font-size: 80px
                font-weight: 700
                position: relative
            .line
                color: #F4A442
                border-top: 1px solid #F4A442
                width: 180px
                margin: 20px
                transform: translateX(-20px)
            p
                width: 300px
                color: #9B9B9B
            .goTo
                a
                    color: white
                    text-decoration: none
                img
                    width: 70px

        .image
            z-index: 0
            transform: translateX(-390px)
            .swiper
                padding: 0
                background: white
                height: 600px
                width: 845px
                .swiper-slide
                    padding: 0
                    background: none
                    text-align: center
                    font-size: 18px
                    background: #fff
                    display: -webkit-box
                    display: -ms-flexbox
                    display: -webkit-flex
                    display: flex
                    -webkit-box-pack: center
                    -ms-flex-pack: center
                    -webkit-justify-content: center
                    justify-content: center
                    -webkit-box-align: center
                    -ms-flex-align: center
                    -webkit-align-items: center
                    align-items: center
                    img
                        padding: 0
                        width: 900px
                        height: 100%
                        

 
         
              



// @media screen and ( max-width: 380px)
//      .homeProjects
//         margin: 70px 0
        
//         .title
//             display: flex
//             justify-content: space-between
//             width: 300px !important
//             h2
//                 font-size: 30px !important
//             a
//                 transform: translateX(-50px)
//         .projects
//             .info
//                 .header
//             .image
//                 .swiper
//                     display: block !important
//                     transform: translateX(400px) !important
//                     width: 350px !important
//                     height: 400px !important
//                     .swiper-slide
//                         img
                        


// @media screen and ( max-width: 430px)
//     .homeProjects
//         margin: 70px 0
        
//         .title
//             display: flex
//             justify-content: space-between
//             width: 400px !important
//             h2
//                 font-size: 30px

//         .projects
//             margin-bottom: 0
//             display: flex
//             flex-direction: column-reverse
//             align-items: start
//             .info
//                 margin: 70px 0 !important
//                 width: 400px !important
//                 .header
//                     font-size: 35px !important
//                     width: 320px  !important
                   
//             .image
//                 display: flex
//                 width: 400px !important
//                 height: 200px !important
//                 .swiper
//                     height: 240px 
//                     width: 410px 
//                     transform: translateX(420px) !important                    
//                     .swiper-slide
                       
//                         img
//                             background: transparent
                         
                            
// @media screen and ( max-width: 770px)
//       .homeProjects
//         margin: 70px 0
       
//         .title
//             display: flex
//             justify-content: space-between
//             width: 660px 
//             h2
//                 font-size: 40px

//         .projects
//             margin-bottom: 0
//             display: flex
//             flex-direction: column-reverse
//             align-items: start
//             .info
//                 margin-top: 40px
//                 margin-bottom: 40px
//                 transform: translateY(150px)
//                 width: 660px
//                 .header
//                     font-size: 65px
                  
                   
//             .image
//                 display: flex
//                 width: 750px
//                 height: 200px !important
//                 .swiper
//                     height: 440px 
//                     width: 660px 
//                     transform: translate(375px,-30px)                    
//                     .swiper-slide
                     
//                         img
//                             background: transparent
//                             width: 100%
                         
                        
                   
    