@media screen and ( max-width: 321px)
    .info
        width: 100px !important 
        padding: 20px !important
        transform: translateX(-10px)
    .info_content
        padding: 0
        margin: 0
        p
            padding: 10px  
            transform: translate(-20px)
            
    .homeProjects
        .title
            display: flex
            justify-content: center
            a
                transform: translateX(-100px) !important
        .projects
            .image
                .swiper
                    width: 280px !important
    
@media screen and ( max-width: 380px)
    .homeProjects
        margin: 70px 0
        
        .title
            display: flex
            justify-content: space-between
            width: 300px !important
            h2
                font-size: 30px !important
            a
                transform: translateX(-50px)
        .projects
            .info
                width: 300px !important
                transform: translate(20px,100px) !important
                .header
            .image
                .swiper
                    margin-right: 60px
                    width: 350px !important
                    height: 380px !important
                    .swiper-slide
                        img
.info
    padding: 10px !important
    transform: translateX(-10px)
    .info_content
        padding: 0
        margin: 0
        p
            padding: 10px  
            transform: translate(-20px)


@media screen and ( max-width: 430px)
    .homeProjects
        margin: 70px 0
        
        .title
            padding: 10px !important
            display: flex
            justify-content: space-between
            width: 400px !important
            h2
                font-size: 30px
                padding: 50px !important
                width: 200px !important

        .projects
            margin-bottom: 0
            display: flex
            flex-direction: column-reverse
            align-items: start
            .info
                margin: 70px 0 !important
                width: 400px !important
                .header
                    font-size: 35px !important
                    width: 320px  !important
                   
            .image
                display: flex
                width: 400px !important
                height: 200px !important
                .swiper
                    height: 240px 
                    width: 410px 
                    transform: translateX(420px) !important                    
                    .swiper-slide
                       
                        img
                            background: transparent
                         
                            
@media screen and ( max-width: 770px)
      .homeProjects
        margin: 70px 0
       
        .title
            display: flex
            justify-content: space-between
            width: 660px 
      
            h2
                
                font-size: 40px
            a
                transform: translateX(-10px)


        .projects
            margin-bottom: 0
            display: flex
            flex-direction: column-reverse
            align-items: start
            .info
                margin-top: 40px
                margin-bottom: 40px
                transform: translate(20px,160px) !important
                width: 660px
                .header
                    font-size: 65px
                  
                   
            .image
                display: flex
                width: 750px
                height: 200px !important
                .swiper
                    height: 440px 
                    width: 660px 
                    transform: translate(375px,-30px)                    
                    .swiper-slide
                     
                        img
                            background: transparent
                            width: 100%
                         
                        
                   
    