.section
    margin-top: 20px
    background: transparent
    .breadcrumbContainer
        padding: 10px 10px 10px 0
        margin: 0
        border-bottom: 1px solid #999999
        ol
            li
                a
                    text-decoration: none
                    color: #ECF0E6
                    &::after
                        content: ">"
                        margin: 0 10px
            .breadcrumbItem
                color: #E6A250

    h2
        margin: 20px 0
        color: #F4A442
        font-size: 60px
        font-weight: 700
        font-family: Arial, Helvetica, sans-serif
    .project_container
        display: grid
        grid-template-columns: repeat(3, 1fr)
        align-items: center
        grid-gap: 77px
        padding-bottom: 20px
        .header
            color: white
            font-size: 40px
            font-weight: 700
            line-height: 44.29px
        .infoDiv
            display: flex
            flex-direction: column
            p
                color: #9B9B9B
                font-size: 19px
                line-height: 22px
            .goTo
                a
                    text-decoration: none
                    color: #ECF0E6
                    font-size: 16px
                    line-height: 18px
        .image
            img
                width: 100%
@media ( max-width: 1200px )
    .section
        h2
            font-size: 50px
            line-height: 40px
        .project_container
            .header
                font-size: 30px
                line-height: 30px
            .infoDiv
                p
                    font-size: 17px
@media ( max-width: 992px )
    .section
        h2
            font-size: 40px
            line-height: 40px
        .project_container
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 20px
            align-items: start
            .header
                font-size: 25px
                line-height: 25px
            .image
                grid-column-start: 1
                grid-column-end: 3
@media (max-width: 768px)
    .section
        h2
            font-size: 30px
            line-height: 30px
            padding-bottom: 7px
        .project_container
            .header
                font-size: 20px
                line-height: 20px
            .infoDiv
                p
                    font-size: 14px
                    line-height: 22px
@media (max-width: 576px)
    .section
        .project_container
            .infoDiv
                p
                    font-size: 13px


