.showReel
    svg
        font-size: 30px
    .text
        position: relative
        display: flex
        justify-content: center
        align-items: center
        transform: translate(-20px,-40px)
        span
            height: 100px
            position: absolute
            font-size: 2px
            left: 0
            top: 0
            transform-origin: bottom center
            color: white
        .n21
            transform: translateY(10px) rotate(-15deg)
        .n0
            transform: translateY(10px) rotate(-4deg)

        .n2
            transform: rotate(18deg)

        .n1
            transform: rotate(24deg)

        .s
            transform: rotate(30deg)

        .h
            transform: rotate(36deg)

        .o
            transform: rotate(42deg)

        .w
            transform: rotate(48deg)

        .r
            transform: rotate(54deg)

        .e
            transform: rotate(60deg)

        .e2
            transform: rotate(66deg)

        .l
            transform: rotate(72deg)
