.showReel svg {
  font-size: 30px;
}

.showReel .text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-20px, -40px);
}

.showReel #play {
  transform: translate(-64px, -2px);
}

.showReel img {
  animation: rotateText infinite 5s linear;
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
